* {
  margin: 0px;
}
.App {
  text-align: center;
  background: #4f5e4e;
  height: 120vh;
  width: 100%;
  padding-top: 50px;
  font-family: 'Noto Serif', serif;
  color: white;
}


.UserOutput {
  display: inline-block;
  background: #3dd9f5;
  padding: 20px;
  height: 200px;
  width: 300px;
  text-align: left;
  font-size: 20px;
  margin: 50px;
  box-shadow: inset 0px 0px 3px black;
}
.UserOutput p {
  padding: 10px;
  color: black;
}
